.main__description__btn {
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0 , 0.421);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
    padding: 1.25rem;
    border: none;
    border-radius: 1.875rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.2rem);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(80%, #9356DC));
    background: -o-linear-gradient(top, #FF79DA, #9356DC 80%);
    background: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}

.main__description__btn:hover {
    background-color: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), color-stop(80%, #a16be0));
    background: -o-linear-gradient(top, #FF93e1, #a16be0 80%);
    background: linear-gradient(to bottom, #ff93e1, #a16be0 80%);
    text-decoration: underline;
}

.main__menu__btn {
    padding: 1.25rem;
    border: none;
    border-radius: 1.875rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: white;
    font-weight: 400;
    font-size: clamp(1rem, 2vw, 1.2rem);
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(80%, #9356DC));
    background: -o-linear-gradient(top, #FF79DA, #9356dc 80%);
    background: linear-gradient(to bottom, #FF79DA, #9356DC 80%);
    -webkit-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.421);
    padding: 0.9375rem 2.5rem;
    margin: 0 auto;
}

.main__menu__btn:hover {
    -webkit-box-shadow: 5px 5px 5px black;
        box-shadow: 5px 5px 5px black;
    background: -webkit-gradient(linear, left top, left bottom, from(#ff93e1), color-stop(80%, #a16be0));
    background: -o-linear-gradient(top, #ff93e1, #a16be0 80%);
    background: linear-gradient(to bottom, #FF79DA, #a16be0 80%);
}